<!-- mobypick_app/templates/select_books.html -->

{% extends "base/base.html" %}

{% block content %}
</br>

<!-- Add this where you want the tabs to appear -->
<ul class="nav nav-tabs" id="genreTabs">
    {% for genre, books in items.items %}
    <li class="nav-item">
    <a class="nav-link {% if forloop.first %}active{% endif %}" id="tab-{{ genre }}" data-toggle="tab" href="#tab-{{genre}}-content">{{genre}}</a>
  </li>
  {% endfor %}
</ul>

<!-- Add this where you want the tab content to appear -->


<div class="tab-content">
  {% for genre, books in items.items %}
  <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="tab-{{genre}}-content">
    <div class="row">
      {% for book in books %}
        <div class="col-2">
          <img src="{{ book.image_url }}" alt="Image" class="img-fluid">
          <p>{{ book.title }}</p>
          <p>{{ book.author }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>


<!-- Add this script at the end of your HTML template to enable Bootstrap tabs -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UoV6eT/3HqJ9zzdYPbQU3oHW3I5om/lJ7uS1s7n4C7R2v5Fd8p5Cpy8FZf5A7l6" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
  // Add this script to handle tab switching
  $(document).ready(function() {
    $('#genreTabs a').on('click', function(e) {
      e.preventDefault();
      let target = $(this).attr('href');
      console.log(target);
      $('.tab-pane').removeClass('show active');
      $(target).addClass('show active');
    });
  });
</script>


{% endblock%}

