<!DOCTYPE html>
<html lang="en">
 <!-- TODO: Add a logout button -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommendation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        #centered-div {
            text-align: center;
            margin: 100px;
        }

        #poster {
            width: 200px;
            height:300px;
        }

        #buttons-container {
            margin-top: 10px;
        }

        .icon-button {
            border: 2px solid black;
            border-radius: 30px;
            padding: 5px 10px;
            margin: 0 5px;
            cursor: pointer;
        }


    </style>

</head>
<body>
    <div id="centered-div">
        <img id="poster" src="{{ book.poster_url }}" alt="{{ book.title }} Poster">
        <h2>{{ book.title }}</h2>
        <p>{{ book.author }}</p>
        
        <div id="buttons-container">
            <button class="icon-button" id="prev-button">Previous</button>
            <button class="icon-button" onclick="logAction('already read')">Check</button>
            <button class="icon-button" onclick="logAction('didn\'t like recommendation')">Thumbs Down</button>
            <button class="icon-button" onclick="logAction('want to read')">Plus</button>
            <button class="icon-button" id="next-button">Next</button>
        </div>
    </div>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/sdk/lib/axios/dist/axios.standalone.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sdk/lib/CryptoJS/rollups/hmac-sha256.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sdk/lib/CryptoJS/rollups/sha256.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sdk/lib/CryptoJS/components/hmac.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sdk/lib/CryptoJS/components/enc-base64.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sdk/lib/url-template/url-template.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sdk/lib/apiGatewayCore/sigV4Client.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sdk/lib/apiGatewayCore/apiGatewayClient.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sdk/lib/apiGatewayCore/simpleHttpClient.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sdk/lib/apiGatewayCore/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sdk/apigClient.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sdk/aws-sdk-min.js' %}"></script>
    <script>
        var sdk = apigClientFactory.newClient({});
        sdk.config.update({
                accessKeyId: 'AKIAQCUQKUEC7JI53GUM',
                secretAccessKey: '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',
                region: 'us-east-1',
        });
        </script>
        
        <script>
        function getRecommendations(lang, id, genre){
            var params = {
                'languageCode':lang,
                'userID':id,
                'includeGenres':genre
            }
            return sdk.getRecommendationsGet(params);
        }

        getRecommendations('en', '100', 'mystery_thriller_crime').then((response) =>{
            console.log(response);
        });

        let currentIndex = 0;
        const books = {{ recommendations|safe }};


        function logAction(action) {
            console.log(action);
        }

        function updateBook() {
            const book = books[currentIndex];
            document.getElementById('poster').src = book.poster_url;
            document.getElementById('poster').alt = book.title + ' Poster';
            document.getElementById('centered-div').getElementsByTagName('h2')[0].innerText = book.title;
            document.getElementById('centered-div').getElementsByTagName('p')[0].innerText = book.author;
        }

        document.addEventListener('DOMContentLoaded', () => {
            updateBook();

            document.getElementById('prev-button').addEventListener('click', () => {
                currentIndex = (currentIndex - 1 + books.length) % books.length;
                updateBook();
            });

            document.getElementById('next-button').addEventListener('click', () => {
                currentIndex = (currentIndex + 1) % books.length;
                updateBook();
            });
        });
    </script>
    
</body>
</html>
